body {
  margin: 0;
}

@media print {
  body * {
    visibility: hidden;
  }
  #editor-template,
  #editor-template * {
    visibility: visible;
  }
  #editor-template {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@page {
  size: A4;
  margin: 0;
}
